:root {
  --primary: #19281E;
  --primary-bg: #87b1db;
  --light: #D0D0D0;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: url(../images/nostalgiac_mobile.jpeg) 50% 50%/125% no-repeat;
  transition: background-position 0.5s;
  height: 100%;
}

main {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

main > nav {
  font-size: 3rem;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--primary-bg);
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
}

li > a {
  color: var(--primary);
}

li:not(:first-child):not(:last-child) {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

hr {
  width: 80%;
  border: 1px solid var(--primary);
}

@media (min-width: 550px) {
  body {
    background: url(../images/nostalgiac.jpeg) 50% 50%/cover no-repeat;
  }

  main > nav {
    font-size: 2.25rem;
    padding: 1.25rem 0.75rem;
  }
}